/*!
* =============================================================
* dropify v0.2.2 - Override your input files with style.
* https://github.com/JeremyFagis/dropify
*
* (c) 2017 - Jeremy FAGIS <jeremy@fagis.fr> (http://fagis.fr)
* =============================================================
*/

* {
  box-sizing: border-box;
  outline: none; }

*,* ::before, *::after,* :before, *:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*! normalize.css v1.1.3 | MIT License | git.io/normalize* /
/* ==========================================================================
  HTML5 display definitions
  ========================================================================== */
/**
* Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
* Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
*/

#toggleDropify {
  font-size: 12px;
  text-transform: uppercase;
  background: #DDD;
  color: #888;
  font-weight: bold;
  border: 0;
  padding: 6px 10px;
  border-radius: 4px;
  margin-left: 10px;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear; }
#toggleDropify:hover {
  background: #EEE; }

@media (max-width: 480px) {
  header#header {
    padding: 30px 15px; }
  header#header h1 {
    font-size: 44px;
    line-height: 70px;
    padding-bottom: 15px;
    margin-bottom: 15px; }
  header#header h2 {
    font-size: 20px; } }